/*嚮應式語法寫在這*/
/* 網頁版 */
@media (min-width: 800px) {
    .rwd-mobile {
        display: none;
    }

    .rwd-pc {
        display: block;
    }

    .icon {
        margin: 10px;
        width: 2.8vw;
        height: 2.8vw;
    }

    .logo {
        max-width: 10%;
        width: initial;
    }

    .header {
        max-height: 10vh;
    }

    .nav-container {
        max-height: 10vh;
        margin: 0 5vw;
    }

    .nav-list {
        display: flex;
    }

    .nav-item {
        display: table;
        max-height: 10vh;
        height: 100%;
        margin: 0 1vw;
    }

    .nav-item > a {
        font-size: 1.6vw;
        font-weight: 700;
        color: var(--white);
        display: table-cell;
        vertical-align: middle;
    }

    .nav-item > a:hover {
        color: var(--white);
    }

    .yellow-waxing {
        height: 100vh;
        padding-top: 10vh;
        position: relative;
        overflow: hidden;
        background: url("../images/yellow-web/01-bg.png");
    }

    .yellow-waxing-container {
        position: relative;
    }

    .yellow-waxing-ph-container {
        width: 100vw;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
    }

    .yellow-waxing-ph-box {
        display: inline-block;
        position: relative;
    }

    .yellow-waxing-ph {
        height: 95vh;
    }

    .yellow-waxing-word-box {
        width: 100vw;
        height: 95vh;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
    }

    .yellow-waxing-word {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .yellow-waxing-word img {
        height: 70vh;
        max-width: initial;
    }

    .yellow-waxing-btn {
        top: initial;
        right: initial;
        left: 1%;
        bottom: 51%;
    }

    .yellow-waxing-btn img {
        max-height: 11vh;
    }

    .about {
        min-height: 108vh;
        background: url("../images/yellow-web/02-bg.png");
        background-size: cover;
    }

    .about-container {
        position: relative;
    }

    .about-titleimg {
        width: 40.6vw;
    }

    .about-title {
        position: absolute;
        right: 0;
        top: 33px;
        padding: 0 6.6vw;
    }

    .about-desc {
        padding: initial;
        font-size: 1vw;
        font-weight: 500;
        line-height: 4vh;
        width: 26.4vw;
        margin: 0 0 0 auto;
    }

    .about-list {
        padding: 15.3vh 0 0 6.3vw;
        justify-content: initial;
    }

    .about-item {
        display: flex;
        align-items: flex-end;
        padding: 4.6vh 0;
    }

    .about-item[data-index="2"] {
        margin-left: 5vw;
    }

    .about-item[data-index="3"] {
        margin-left: 10.5vw;
    }

    .about-item[data-index="4"] {
        margin-left: 16.1vw;
    }

    .about-item[data-index="1"] img {
        height: initial;
        width: 9.1vw;
    }

    .about-item[data-index="2"] img {
        height: initial;
        width: 10.9vw;
    }

    .about-item[data-index="3"] img {
        height: initial;
        width: 20.9vw;
    }

    .about-item[data-index="4"] img {
        height: initial;
        width: 26.1vw;
    }

    .about-subtitle {
        display: block;
        text-align: end;
        font-size: 2.5vw;
        font-weight: 700;
    }

    .about-content {
        padding: 5px 0 5px 28px;
        font-size: 1.5vw;
        font-weight: 700;
    }

    .service {
        min-height: 108vh;
        padding: initial;
        background: url("../images/yellow-web/03-bg.png");
    }

    .service-title-box {
        position: relative;
        display: flex;
        justify-content: flex-end;
        width: 35.3vw;
    }

    .service-title {
        width: 83%;
        position: absolute;
        bottom: 6%;
        right: 7%;
    }

    .service-ph-box {
        position: relative;
        height: 100%;
    }

    .service-ph {
        height: 100%;
    }

    .service-subtitle {
        text-align: start;
        margin: 6.7vh 6.1vw 5.2vh 6.1vw;
        font-size: 2.2vw;
        font-weight: 700;
        letter-spacing: 3px;
        color: var(--white);
    }

    .service-container {
        display: flex;
        justify-content: space-between;
        height: 108vh;
    }

    .service-list {
        padding: initial;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .service-item {
        border: initial !important;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5vw;
        font-weight: 500;
        padding: 0;
        margin: 1.9vh 0;
        height: 19.3vh;
    }

    .service-item > div {
        margin: 0 1.1vw;
    }

    .service-item-img {
        height: 78%;
        display: flex;
        align-items: center;
    }

    .service-item-img > img {
        height: 50%;
    }

    .service-item-icon {
        height: 90%;
        display: flex;
        align-items: center;
    }

    .service-item-icon > img {
        height: 130%;
    }

    .service-item-detail {
        width: initial;
    }

    .service-item-detail > div {
        margin: 1vh 0;
    }

    .service-item-bg1 {
        background: url("../images/yellow-web/03-item-bg01.png") no-repeat;
        background-size: cover;
    }

    .service-item-bg2 {
        background: url("../images/yellow-web/03-item-bg02.png") no-repeat;
        background-size: cover;
    }

    .service-item-bg3 {
        background: url("../images/yellow-web/03-item-bg03.png") no-repeat;
        background-size: cover;
    }

    .service-item-bg4 {
        background: url("../images/yellow-web/03-item-bg04.png") no-repeat;
        background-position: right;
        height: 15vh;
    }

    .service-item-bg4 .service-item-img {
        height: 101%;
    }

    .service-item-bg4 .service-item-icon {
        height: 111%;
    }

    .space {
        min-height: 108vh;
        padding: 0;
        background-color: var(--yellow);
    }

    .space > .rwd-pc {
        position: relative;
    }

    .space-title {
        padding: 7.3vh 0 0 13.2vw;
        display: flex;
    }

    .space-subtitle {
        margin: 6.1vh 0;
        font-size: 2.1vw;
        letter-spacing: 9px;
        color: var(--blue);
    }

    .space-title-img {
        max-width: 34.5vw;
        margin-left: 3.8vw;
    }

    .space-list {
        position: absolute;
        top: 23.5vh;
        width: 98vw;
        margin: 0 auto;
        padding: initial;
        display: flex;
        flex-direction: column;
    }

    .space-list > li {
        margin: initial;
    }

    .space-list img {
        max-height: 100%;
        max-width: 100%;
    }

    .space-removal {
        height: 30vh;
        padding: 0 0 0 17.5vw;
    }

    .space-shower {
        height: 25vh;
        padding: 0 0 0 24.8vw;
    }

    .space-locker {
        height: 24vh;
        padding: 0 0 0 8.4vw;
    }

    .amenities {
        min-height: 108vh;
        background-size: cover;
        padding: 0;
        background: url("../images/yellow-web/05-bg.png");
    }

    .amenities-title {
        padding: 7.5vh 0 0 12.5vw;
        display: flex;
        align-items: flex-start;
    }

    .amenities-title-img {
        max-width: 51.4vw;
    }

    .amenities-subtitle {
        display: inline-block;
        font-size: 2vw;
        letter-spacing: 6px;
        margin: initial;
        padding: 10vh 0 0 0;
        transform: translate(-6.7vw, 0);
        -webkit-transform: translate(-6.7vw, 0);
    }

    .amenities-list {
        display: flex;
        flex-direction: column;
        padding: 7.8vh 0 0 0;
    }

    .amenities-list > li > img {
        max-height: 34.5vh;
        max-width: 25vw;
    }

    .amenities-item1 {
        padding: 0 0 0 18.2vw;
    }
    .amenities-item1 > img {
        margin: 0 0.5vw;
    }
    .amenities-item2 {
        padding: 0 0 0 22.8vw;
    }
    .amenities-item2 > img {
        margin: 0 2vw;
    }

    .qa {
        height: 108vh;
        background-size: cover;
        background: url("../images/yellow-web/06-bg.png");
        padding: 0;
    }

    .qa-container {
        display: flex;
        height: 100%;
    }

    .qa-title {
        margin: 0 auto;
        max-width: 88%;
    }

    .qa-list {
        height: 100%;
        padding: 11.7vh 0 0 10.4vw;
        display: flex;
        flex-direction: column;
    }
    .qa-item {
        padding: 0;
    }

    .qa-ques-title {
        font-size: 1.6vw;
        padding: initial;
    }

    .qa-ques-title::before {
        transform: translate(-2.5vw, -2vh);
        -webkit-transform: translate(-2.5vw, -2vh);
    }

    .qa-ques-content {
        padding: initial;
        margin: 2.3vh 0 4vh 0;
        font-size: 1vw;
        line-height: 3.5vh;
    }

    .qa-title-side {
        height: 100%;
        width: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 7.8vh 0 12.5vh 0;
    }

    .qa-btn {
        max-width: 50%;
        margin: 0 auto 0 6.1vw;
    }

    .stores {
        padding: 0;
        min-height: 108vh;
        background-color: var(--gray);
    }

    .stores-container {
        max-width: 100%;
        padding: 10.7vh 0 0 0;
    }

    .stores-title {
        padding: 0 0 0 7vw;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
    }

    .stores-img-box {
        width: 75%;
    }

    .stores-img {
        width: 100%;
    }

    .stores-subtitle {
        margin: 0 0 4.6vh 0;
        width: 80%;
        letter-spacing: 0.4vw;
        font-size: 2vw;
        transform: translate(-23%);
        -webkit-transform: translate(-23%);
    }

    .store-region {
        font-size: 2vw;
        margin: 0 0 3.3vh 0;
    }

    .store-list {
        padding: 9.8vh 0 0 0;
        width: 50%;
        margin: 0 auto;
        align-content: center;
    }

    .store-item {
        margin: 0 0.9vw 7.3vh 0.9vw;
        width: 8.6vw;
        padding: initial;
    }

    .store-name {
        width: 100%;
        margin: auto;
        position: relative;
    }

    .fixed-btn {
        max-width: 7vw;
        margin: 1vh 0;
    }
}
