:root {
    --black: #000000;
    --blue: #1da5d4;
    --white: #ffffff;
    --yellow: #fbd743;
    --gray: #4d4d4d;
}

.rwd-mobile {
    display: block;
}

.rwd-pc {
    display: none;
}

.max-width-100 {
    max-width: 100%;
}

* {
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
}

html,
body,
div,
span,
a,
img,
ul,
li,
aside,
figure,
footer,
header,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ul {
    list-style: none;
}

.icon {
    margin: 10px auto;
    width: 48px;
    height: 48px;
}

.icon-fb {
    background-size: 48px;
    background-image: url("../images/yellow-mobile/01-menu-fb-w.png");
}

.icon-fb:hover {
    background-size: 48px;
    background-image: url("../images/yellow-mobile/01-menu-fb-y.png");
}

.icon-ig {
    background-size: 48px;
    background-image: url("../images/yellow-mobile/01-menu-ig-w.png");
}

.icon-ig:hover {
    background-size: 48px;
    background-image: url("../images/yellow-mobile/01-menu-ig-y.png");
}

.logo {
    margin: auto 0;
    width: 133px;
}

.logo img {
    max-width: 100%;
}

.header {
    position: fixed;
    z-index: 3;
    width: 100%;
    background-color: var(--blue);
    height: 16vh;
}

.nav-container {
    margin: 0 15px 0 30px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 100%;
}

.aside-list {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 120vh;
    background-color: var(--black);
    overflow: auto;
    padding-top: 16vh;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
}

.aside-list.active {
    width: 50%;
}

.aside-list.active a {
    display: block;
}

.aside-item {
    text-align: center;
    padding: 0 0 5.4vh 0;
}

.aside-item > a {
    display: none;
    font-size: 20px;
    font-weight: 700;
    color: var(--white);
}

.aside-item > a:hover {
    font-weight: 500;
    color: var(--yellow);
}

.aside-menu {
    z-index: 3;
    align-self: center;
    background-size: 43px;
    background-image: url(../images/yellow-mobile/01-bt01.png);
    width: 43px;
    height: 43px;
    transition: all 0.3s;
}

.aside-menu.active {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.yellow-waxing {
    padding-top: 16vh;
    min-height: 90vh;
    background-color: var(--yellow);
}

.yellow-waxing-container {
    min-height: 90vh;
    position: relative;
}

.yellow-waxing-ph-container {
    width: 100%;
    text-align: center;
}

.yellow-waxing-ph-box {
    display: inline-block;
    position: relative;
}

.yellow-waxing-ph {
    max-width: 100%;
}

.yellow-waxing-word-box {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 0;
}

.yellow-waxing-word {
    display: flex;
    align-items: center;
    justify-content: center;
}

.yellow-waxing-word img {
    max-width: 92vw;
}

.yellow-waxing-btn {
    z-index: 2;
    position: absolute;
    right: 53%;
    top: 85%;
}

.yellow-waxing-btn img {
    display: inline-block !important;
    max-height: 7.5vh;
}

.about {
    background-color: var(--yellow);
}

.about-container > .rwd-mobile {
    max-width: 540px;
    margin: 0 auto;
}
.about-title {
    padding: 0 22px;
}

.about-titleimg {
    padding: 10px 0;
}

.about-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 30px;
}

.about-item {
    padding: 2vh 35px 2vh 0;
}

.about-desc {
    padding: 5px 3%;
    font-size: 12px;
    line-height: 28px;
    font-weight: 500;
    color: var(--blue);
}

.about-subimg {
    padding: 5px 15px 5px 0;
    display: inline-block;
}

.about-subimg > img {
    height: 9vh;
}

.about-subtitle {
    display: inline-block;
    padding: 5px 0;
    font-size: 33px;
    font-weight: 500;
    color: var(--white);
}

.about-content {
    padding: 5px 0;
    font-size: 19px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    color: var(--blue);
}

.service {
    padding: 3vh 0;
    background-size: cover;
    background: url("../images/yellow-mobile/03-bg.png");
}

.service > .rwd-mobile {
    max-width: 540px;
    margin: 0 auto;
}

.service-title {
    padding: 0 20px;
}

.service-subtitle {
    font-size: 25px;
    font-weight: 500;
    margin: 28px 10px 8px 10px;
    color: var(--yellow);
}

.service-list {
    padding: 0 34px;
}
.service-item {
    display: flex;
    align-content: center;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--white);
    height: 25%;
}

.service-item-img-box {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-item-img {
    height: 66%;
}

.service-item:not(:nth-child(1)) {
    border-top: 2px solid var(--yellow);
}

.service-item-detail {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-item-detail > div {
    margin: 9px 0;
}

.space {
    padding: 50px 0;
    background-color: var(--yellow);
}

.space > .rwd-mobile {
    max-width: 540px;
    margin: 0 auto;
}

.space-title {
    margin: 0 auto;
    padding: 0 30px;
}

.space-subtitle {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    margin: 10px 0 40px 0;
    color: var(--blue);
}

.space-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 15px;
}

.space-list > li {
    margin: 5vh 0;
}

.amenities {
    padding: 50px 0;
    background-size: cover;
    background: url("../images/yellow-mobile/05-bg.png");
}

.amenities > .rwd-mobile {
    max-width: 540px;
    margin: 0 auto;
}

.amenities-title {
    padding: 0 14px;
}

.amenities-subtitle {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    margin: 27px 0 35px 5%;
    color: var(--yellow);
}

.amenities-list {
    overflow: hidden;
}

.amenities-img-box {
    height: 14vh;
    margin: 15px 0 0 15vw;
}

.amenities-img {
    height: 100%;
}

.qa {
    padding: 50px 0;
    background-color: var(--yellow);
}

.qa > .rwd-mobile {
    max-width: 540px;
    margin: 0 auto;
}

.qa-title {
    text-align: center;
    margin: 0 67px 35px 75px;
    max-width: 80%;
}

.qa-title > img {
    width: 100%;
}

.qa-item {
    padding: 1.5vh 0;
}

.qa-ques-title::before {
    content: "Q";
    transform: translate(-28px, -8px);
    -webkit-transform: translate(-28px, -8px);
    position: absolute;
}

.qa-ques-title {
    font-size: 18px;
    font-weight: 500;
    padding: 0 0 0 70px;
    color: var(--white);
}

.qa-ques-content {
    padding: 15px 15px 23px 0;
    margin: 0 35px 0 70px;
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1px;
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
}

.qa-btn {
    max-width: 36%;
    margin: 39px auto 55px auto;
}

.qa-btn img {
    max-width: 100%;
}

.stores {
    padding: 64px 0;
    background-color: var(--gray);
}

.stores-container {
    max-width: 540px;
    margin: 0 auto;
}

.stores-title {
    padding: 0 3px 0 13px;
    display: flex;
    flex-direction: column;
}

.stores-title img {
    max-width: 100%;
}

.stores-subtitle {
    line-height: 40px;
    font-size: 24px;
    font-weight: 700;
    margin: 23px 4.9vw 10px 5%;
    color: var(--white);
}

.store-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
}

.store-item {
    max-width: 50%;
    padding: 20px 23px;
}

.store-region {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0;
    color: var(--white);
}

.store-name {
    width: 112px;
    margin: auto;
    position: relative;
}

.store-name > img {
    width: 100%;
}

.store-name:hover .store-hover {
    opacity: 1;
}

.store-hover {
    opacity: 0;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
}

.fixed {
    position: fixed;
    right: 10px;
    bottom: 30px;
}

.fixed-btn {
    max-width: 15vw;
    margin: 10px 0;
}
