/*嚮應式語法寫在這*/
/* 網頁版 */
@media (min-width: 593px) {
    .icon {
        margin: 10px;
        width: 40px;
        height: 40px;
    }
    .logo {
        margin: 15px 0;
    }

    .nav-list-web {
        display: flex;
    }

    .nav-list-item {
        display: table;
        height: 100%;
        margin: 0 20px;
    }

    .nav-list-item > a {
        display: table-cell;
        vertical-align: middle;
    }

    .yellow-waxing {
        height: 100vh;
        position: relative;
        overflow: hidden;
        background: url("../images/yellow-web/01-bg.png");
    }

    .yellow-waxing-container {
        display: flex;
        justify-content: center;
        width: 772px;
        margin: 0 auto;
    }

    .yellow-waxing-ph {
        height: 90vh;
    }

    .yellow-waxing-word {
        bottom: 5%;
        right: 9%;
        width: 80vw;
        top: initial;
        left: initial;
    }

    .yellow-waxing-btn {
        top: initial;
        left: initial;
        bottom: 45%;
        right: 58%;
    }

    .about {
        background: url("../images/yellow-web/02-bg.png");
        background-size: cover;
    }

    .about-container {
        position: relative;
        margin: 0px 100px;
    }

    .about-title {
        width: 50%;
        position: absolute;
        right: 0;
    }
    .about-desc {
        font-size: 20px;
        font-weight: 500;
        line-height: 2.5rem;
        width: 570px;
        margin: 0 0 0 auto;
    }

    .about-list {
        padding-top: 100px;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .about-item {
        display: flex;
        align-items: flex-end;
    }
    .about-item[data-index="2"] {
        transform: translate(-39%);
        align-self: center;
    }
    .about-item[data-index="3"] {
        transform: translate(-5%);
        align-self: center;
    }
    .about-item[data-index="4"] {
        transform: translate(5%);
        align-self: center;
    }

    .about-subtitle {
        text-align: end;
        font-size: 3rem;
        font-weight: 700;
    }

    .about-content {
        font-size: 1.8rem;
        font-weight: 700;
    }
    .service {
        min-height: 100vh;
        padding: initial;
        background: url("../images/yellow-web/03-bg.png");
    }
    .service-title {
        position: absolute;
        bottom: 6%;
        right: 2%;
    }
    .service-subtitle {
        text-align: start;
        margin: 30px 100px;
        font-size: 40px;
        font-weight: 700;
        color: var(--white);
    }
    .service-container {
        display: flex;
        justify-content: space-between;
        height: 100vh;
    }
    .service-list {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    .service-item {
        border: initial !important;
        display: flex;
        align-content: center;
        font-size: 30px;
        font-weight: 500;
        padding: 0;
        margin: 30px 0;
        height: 15%;
        justify-content: center;
        align-content: center;
    }
    .service-item-img {
        transform: scale(0.5);
    }
    .service-item-icon {
        max-width: 100%;
        transform: scale(1.2);
    }
    .service-item-detial {
        margin: 0 30px;
    }

    .service-item-bg1 {
        background: url("../images/yellow-web/03-item-bg01.png") no-repeat;
        background-size: cover;
    }
    .service-item-bg2 {
        background: url("../images/yellow-web/03-item-bg02.png") no-repeat;
        background-size: cover;
    }
    .service-item-bg3 {
        background: url("../images/yellow-web/03-item-bg03.png") no-repeat;
        background-size: cover;
    }
    .service-item-bg4 {
        background: url("../images/yellow-web/03-item-bg04.png") no-repeat;
        background-size: cover;
    }
    .space {
        background: url("../images/yellow-web/04-bg.png");
    }
    .amenities {
        background: url("../images/yellow-web/05-bg.png");
    }
    .qa {
        background: url("../images/yellow-web/06-bg.png");
    }
    .stores {
        background: url("../images/yellow-web/07-bg.png");
    }
}
