:root {
    --black: #000000;
    --blue: #1da5d4;
    --white: #ffffff;
    --yellow: #fbd743;
}

.rwd-mobile {
    display: block;
}
.rwd-pc {
    display: none;
}

.max-width-100 {
    max-width: 100%;
}

.max-height-100 {
    max-height: 100vh;
}

body.active {
    overflow-y: hidden;
}

.relative {
    position: relative;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

.icon {
    margin: 10px auto;
    width: 71px;
    height: 71px;
}

.icon-fb {
    background-image: url("../images/yellow-mobile/01-menu-fb-w.png");
}

.icon-fb:hover {
    background-image: url("../images/yellow-mobile/01-menu-fb-y.png");
}

.icon-ig {
    background-image: url("../images/yellow-mobile/01-menu-ig-w.png");
}

.icon-ig:hover {
    background-image: url("../images/yellow-mobile/01-menu-ig-y.png");
}

.logo {
    margin: 3vh 0;
}

.logo > img {
    max-width: 100%;
}

.header {
    width: 100%;
    background-color: var(--blue);
}

.nav-container {
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.aside-list {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 200vh;
    background-color: var(--black);
    overflow: hidden;
    padding-top: 130px;
    transition: all 0.3s;
}

.aside-list.active {
    width: 50%;
}

.aside-item {
    margin: 3vh 0;
    text-align: center;
}

.aside-item > a {
    display: block;
    font-size: 7vw;
    font-weight: 900;
    color: var(--white);
}

.aside-item > a:hover {
    color: var(--yellow);
}
.aside-item > a[data-content="about"]::after {
    content: "ABOUT";
}
.aside-item > a[data-content="about"]:hover::after {
    content: "關於我們";
}
.aside-item > a[data-content="service"]::after {
    content: "SERVICE";
}
.aside-item > a[data-content="service"]:hover::after {
    content: "服務與價格";
}
.aside-item > a[data-content="space"]::after {
    content: "SPACE";
}
.aside-item > a[data-content="space"]:hover::after {
    content: "野裸空間";
}
.aside-item > a[data-content="amenities"]::after {
    content: "AMENITIES";
}
.aside-item > a[data-content="amenities"]:hover::after {
    content: "設備介紹";
}
.aside-item > a[data-content="qa"]::after {
    content: "Q&A";
}
.aside-item > a[data-content="qa"]:hover::after {
    content: "常見問題";
}
.aside-item > a[data-content="store"]::after {
    content: "STORE";
}
.aside-item > a[data-content="store"]:hover::after {
    content: "野裸據點";
}
.aside-item > a[data-content="blog"]::after {
    content: "BLOG";
}
.aside-item > a[data-content="blog"]:hover::after {
    content: "部落格";
}

.aside-menu {
    z-index: 3;
    align-self: center;
    background-image: url("../images/yellow-mobile/01-bt01.png");
    width: 69px;
    height: 69px;
    transition: all 0.3s;
}

.aside-menu.active {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.yellow-waxing {
    min-height: 100vh;
    background: url("../images/yellow-mobile/01-bg.png");
    background-size: cover;
}

.yellow-waxing-container {
    height: 80vh;
    position: relative;
}

.yellow-waxing-ph-container {
    width: 100vw;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}
.yellow-waxing-ph-box {
    display: inline-block;
    position: relative;
}

.yellow-waxing-ph {
    max-width: 100vw;
}
.yellow-waxing-word-box {
    width: 100vw;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 0;
}

.yellow-waxing-word {
    display: flex;
    align-items: center;
    justify-content: center;
}

.yellow-waxing-word img {
    max-width: 92vw;
}

.yellow-waxing-btn {
    z-index: 2;
    position: absolute;
    right: 52%;
    top: 83%;
}

.yellow-waxing-btn img {
    max-height: 9vh;
}

.about {
    min-height: 100vh;
    padding: 15px;
    background-size: cover;
    background: url("../images/yellow-mobile/02-bg.png");
}

.about-container > .rwd-mobile {
    max-width: 540px;
    margin: 0 auto;
}

.about-titleimg {
    padding: 10px 0;
}
.about-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 1vw;
}

.about-item {
    padding: 2vh 0;
}

.about-desc {
    padding: 5px 10px;
    font-size: 0.8rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: var(--blue);
}

.about-subimg {
    padding: 5px 0;
    display: inline-block;
}
.about-subimg > img {
    height: 11vh;
}

.about-subtitle {
    padding: 5px 0;
    font-size: 33px;
    font-weight: 500;
    color: var(--white);
}

.about-content {
    padding: 5px 0;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    color: var(--blue);
}

.service {
    min-height: 150vh;
    padding: 3vh 15px;
    background-size: cover;
    background: url("../images/yellow-mobile/03-bg.png");
}

.service > .rwd-mobile {
    max-width: 540px;
    margin: 0 auto;
}

.service-subtitle {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    margin: 10px 0;
    color: var(--yellow);
}
.service-item {
    display: flex;
    align-content: center;
    font-size: 21px;
    font-weight: 500;
    color: var(--white);
    padding: 3vh 0;
}
.service-item-img-box {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.service-item-img {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
}

.service-item:not(:nth-child(1)) {
    border-top: 1px solid var(--yellow);
}
.service-item-detial {
    width: 50%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.space {
    min-height: 150vh;
    padding: 3vh 15px;
    background-size: cover;
    background: url("../images/yellow-mobile/04-bg.png");
}

.space-subtitle {
    font-size: 1.7rem;
    font-weight: 700;
    margin: 20px 0;
    color: var(--blue);
}

.space-list {
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.amenities {
    min-height: 100vh;
    padding: 3vh 15px;
    background-size: cover;
    background: url("../images/yellow-mobile/05-bg.png");
}
.amenities-subtitle {
    font-size: 1.7rem;
    font-weight: 700;
    margin: 20px;
    color: var(--yellow);
}

.amenities-list {
    min-height: 100vh;
    overflow: hidden;
}
.amenities-img {
    transform: scale(0.7) translate(-10%);
    -webkit-transform: scale(0.7) translate(-10%);
}
.qa {
    min-height: 100vh;
    padding: 3vh 15px;
    background-size: cover;
    background: url("../images/yellow-mobile/06-bg.png");
}

.qa-title {
    text-align: center;
    padding: 30px 0;
}

.qa-title > img {
    max-width: 80%;
}
.qa-item {
    padding: 10px 0;
}
.qa-ques-title::before {
    content: "Q";
    transform: translate(-30px, -12px);
    -webkit-transform: translate(-30px, -12px);
    position: absolute;
}
.qa-ques-title {
    font-size: 22px;
    font-weight: 700;
    padding: 20px 0 10px 30px;
    color: var(--white);
}
.qa-ques-content {
    font-size: 1.3rem;
    margin: 10px 20px 10px 30px;
    line-height: 33px;
    letter-spacing: 1px;
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
}
.qa-btn {
    text-align: center;
    padding: 50px;
}
.stores {
    min-height: 100vh;
    padding: 3vh 15px;
    background-size: cover;
    background: url("../images/yellow-mobile/07-bg.png");
}
.stores-title {
    display: flex;
    flex-direction: column;
}
.stores-title > img {
    max-width: 100%;
}
.stores-subtitle {
    line-height: 40px;
    font-size: 1.7rem;
    font-weight: 700;
    margin: 20px;
    color: var(--white);
}

.store-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.store-region {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    margin: 10px;
    color: var(--white);
}

.store-name {
    width: 65%;
    margin: auto;
    position: relative;
}
.store-name > img {
    width: 100%;
}
.store-name:hover .store-hover {
    opacity: 1;
}
.store-hover {
    opacity: 0;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
}

.fixed {
    position: fixed;
    right: 10px;
    bottom: 30px;
}

.fixed-btn {
    max-width: 15vw;
    margin: 10px 0;
}
